.MyCloud{
    text-align: left;
    background-color: black;
    color: cyan;
}

.two{
    text-align: center;
    background-color: blueviolet;
    color: white;
}
.three{
    text-align: right;
    text-decoration: underline;
    background-color: darkcyan;
    color: black;

}