.container{
    background-color: seashell;
    width: 100%;
    display: inline-flex;
    height: 1080px;
}

.card{
    height: 300px;
    width: 600px;
    background-color: white;
    margin: 25%;
}

.topbar{
    margin: 0;
    padding: 0;
    height: 90px;
    width: 100%;
    background-color: lightblue;
}
.userimg{
    height: 69%;
    width: 20%;
    margin-top: 10%;
    margin-left: 5%;
}
.name{
    margin-top: 1%;
}
h1{
    margin-bottom: 0%;
}
.userimg,.topbar{
    display: inline-block;
}

h2{
    margin-top: 33%;
    margin-left: 2%;
    font-size: 20px;
}

.location{
    margin-top: -15%;
    margin-left: 2%;
    margin-bottom: 0%;
}

.locationimg{
    width: 23%;
    margin-top: 6%;
    margin-right: -5%;
    margin-bottom: 0px;

}

.locationimg,.location,h2{
    margin-left: 3%;
    display: inline-flex;
    align-items: center;
}
.name{
    margin-top: -30px;
    font-size: 80%;
    margin-left: 5%;
}

.userimg,.name{
    display: flexbox;
}
.about{
    display: inline-flex;
    margin-top: -10%;
    margin-left: 5%;
    align-content: center;
}

.location,.about{
    display: inline-flex;
}
.div1 p{
    margin-top: 0%;
    display: block;
    margin-bottom: -3%;
    font-size: 17px;
    margin-left: 5%;
}

.div2 p{
    margin-top: 3%;
    display: block;
    margin-bottom: -3%;
    font-size: 17px;
    margin-left: 6%;
}
.edit img{
    width: 3%;
    margin-left: 4%;
    margin-top: 25px;
}

.edit p{
    margin-top: 0%;
    font-size: 13px;
    color: lightblue;
}

.edit img,.edit p{
    display: inline-flex;
    align-items: center;
}