.container{
    width: 950px;
    background-color: silver;
    margin: 20px auto;
    padding-top: 10px;
    padding-bottom: 20px;
}
.top-nav {
    width: 877px;
    height: 150px;
    margin: 20px;
    background-color: green;
}
.side-nav {
    height: 300px;
    width: 200px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 95px;
    background-color: blue;
}
.main {
    height: 400px;
    width: 650px;
    background-color: red;
}
.sub-content {
    height: 175px;
    width: 175px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: yellow;
}
#advertisement {
    height: 120px;
    width: 562px;
    margin-top: 250px;
    margin-right: 54px;
    margin-left: -565px;
    background-color: purple;
}

#advertisement,.main{
    display: block;
} 

.side-nav,.main,.sub-content{
    vertical-align: middle;
    display: inline-flex;
}

